{% extends 'layout.html' %}
{% block heading %}All Courses{% endblock %}
{% block content %}
    <p><a href= "/home" class = "btn-primary">Home</a></p>

<form method="POST" action="/courses">
        {{ form3.hidden_tag() }}

        <div class="form-group">
          {{ form3.subject.label }}

          {% if form3.subject.errors %}
            {% for error in form.subject.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

          {{ form3.subject }}
        </div>

        {{ form3.submit(class="btn-primary") }}
      </form>
              <p></p>

 	{% for course in courses %}
 	<li><a href="{{url_for('course', id=course.id)}}" class = "btn-secondary">{{course.id}}</a></li>
  	<li> Course Name = {{course.name}} </li>
  	<p> </p>
	{% endfor %}
	<a href="/" class = "btn-primary">Logout</a>

<hr/>

{% endblock %}