{% extends 'layout.html' %}
{% block heading %} {% endblock %}
{% block content %}

 	<a href="{{url_for('all_courses')}}" class = "btn-secondary"> See All Courses</a>
 	<p></p>
 	<li><a href="{{url_for('all_students')}}" class = "btn-secondary"> See All Registered Students</a></li>
 	<p></p>
 	<li><a href="{{url_for('all_professors')}}" class = "btn-secondary"> See All Professors</a></li>
 	<p></p>
 	<li><a href="{{url_for('friends')}}" class = "btn-secondary"> See Your Friends</a></li>
 	<p></p>
 	<li><a href="{{url_for('my_info', id=id)}}" class = "btn-secondary"> See Your Info</a></li>
 	<p></p>
 	<li><a href="{{url_for('edit_student')}}" class = "btn-secondary"> Edit Your Info</a></li>
 	<p></p>



<a href="/" class = "btn-primary">Logout</a>

<hr/>

{% endblock %}